files:
 "/etc/security/limits.conf":
     mode: "00644"
     owner: "root"
     group: "root"
     content: |
         *                soft    nofile          65535
         *                hard    nofile          65535


 "/etc/httpd/conf.d/mpm.conf":
     mode: "000644"
     owner: root
     group: root
     content: |
         Timeout 65
         KeepAlive On
         KeepAliveTimeout 65
         MaxKeepAliveRequests 10000
         AcceptFilter http none
         AcceptFilter https none
         <IfModule mpm_prefork_module>
               StartServers          128
               MinSpareServers        32
               MaxSpareServers       256
               ServerLimit          1024
               MaxClients            300
               MaxRequestsPerChild   500
         </IfModule>

 "/etc/sysctl.d/99_networking.conf":
     mode: "000644"
     owner: root
     group: root
     content: |
         net.core.somaxconn = 1000
         net.core.netdev_max_backlog = 5000
         net.core.rmem_max = 16777216
         net.core.wmem_max = 16777216
         net.ipv4.tcp_wmem = 4096 12582912 16777216
         net.ipv4.tcp_rmem = 4096 12582912 16777216
         net.ipv4.tcp_max_syn_backlog = 8096
         net.ipv4.tcp_slow_start_after_idle = 0
         net.ipv4.tcp_fin_timeout = 30
         net.ipv4.tcp_tw_reuse = 1
         net.ipv4.tcp_syncookies=1
         net.ipv4.ip_local_port_range = 10240 65535
         net.ipv4.tcp_abort_on_overflow = 1

commands:
 container_commands:
     command: "ulimit -HSn 65535; service httpd restart;"



